<html lang="es">
    <header>
        <meta charset="utf-8">
        <title>Mercado Liebre</title>
        <link href="\css\home.css" rel="stylesheet"/>
    </header>
    <main>
        <img src="\images\logo-mercado-liebre.svg"/>
        <p>Lugar para poner barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis Compras</a></li>
            </ul>
        </nav>
        <p><img style="width:auto" src="\images\img-home-banner.jpg"/></p>
        <section className="ultimasVistas">
            <h3>Basado en tu última visita</h3>
            <div>
                <img src="\images\img-cafetera-moulinex.jpg"/>
                <p>$6770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </div>
            <div>
                <img src="\images\img-macbook-pro-2019.jpg" alt="MacBook"/>
                <p>$230000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
            </div>
            <div>
                <img src="\images\img-samsung-galaxy-s10.jpg" alt="Samsung S10"/>
                <p>$70500</p>
                <p>10% off</p>
                <h4>Samsung Galaxy S10</h4>
            </div>
            <div>
                <img src="\images\img-tv-samsung-smart.jpg" lath="Smart Tv 43'"/>
                <p>$23200</p>
                <p>5% OFF</p>
                <h4>SmartTv Samsung 43"</h4>
            </div>
        </section>
        <section className="Ofertas">
            
        </section>
    </main>
    <footer>
        <section>
        <h4>Pagá con tarjeta o en efectivo</h4>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!
        </section>
        <section>
            <h4>Envío gratis desde $ 2.500</h4>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </section>
        <section>
            <h4>Seguridad, de principio a fin</h4>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
        </section>
        <section>
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </section>
    </footer>
</html>